h1{
    text-align: center;
    font-size: 50px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-bottom: 50px;
}
h2{
    color: white;
    font-family:"Bebas Neue" , sans-serif;    
}
section{
    display: inline-block;
    text-align: center;
    margin: 135px;
}
body{
    text-align: center;
    background-image: url(imagenes.nuevas/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;

}
img{
    width: 300px;
    border: 3px solid black;
    border-radius: 200px;
    transition: 0.3s;
    
}
img:hover{
    transform: scale(1.5);
}
footer{
    text-align: center;
    margin-bottom: 0;
}
a{
    color: inherit;
}
.audio-container{
margin-top:0;
text-align: right;
}
li{
    display: inline-block;
    margin: 10px;
    text-decoration: underline;
    color: white;
}
nav{
    text-align: left;
    margin-left: 0;
}