h1{
    font-family: "Arial";
    text-align: center;
color: orange;
font-size: 40px;
background-color: green;
}
ol{
width: auto;
padding: 0px;
text-align: center;





}
li{
 background-color: green;
    display:inline-block;
    width:14%;
    font-size: 16px;
    text-align: center;
    height: 27.5px;
    padding-top: 10px;
    border-radius: 8px;
    border:solid orange;
    margin: 14px;
  
    
    
    
    
}
body{
    margin: auto;
    width: 100%;
    border: 0px solid black;
    background-color: white;
    background-image: url(imagenes/logo\ aviones\ de\ combate.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color:orange;
    
    
}
div{
   margin: 0%;
    padding: 0%;
    font-size: 0px;
}
img{
    width: 300px;
    height: 200px;
    border: solid orange 2px;
   display: inline;
}
h2{
font-family: "Kablammo";
    text-decoration: underline green 10px;
    letter-spacing: 10px;

}
article{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: auto;
    
}
a{
    text-decoration: none;
    color:orange;
}

#yo{
    text-decoration: underline;
}



footer{
    background-color: green;
    padding: 15px;
    text-align: center;
}

#instagram{
    color:green;
}

#audio{
    background-color: green;
    
}
.audio-container{
    text-align: center;

}

